# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entorno virtual
.venv/
dashboard.egg-info/
uv.lock
src/api/__pycache__

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.swo
*.bak
*.tmp

# Archivos de logs
*.log

# Ignorar todo el contenido de la carpeta data (los csv a veces son pesados para Git)
# data/**/*

# # Pero NO ignorar los archivos .gitkeep (esto mantiene la carpeta en GitHub)
# !data/**/.gitkeep